.landingSectionContent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 4rem 0rem;
    width: 50%;
    padding: 5rem;
}

.landingSectionContent h3 {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0.025em;
    text-align: left;
}

.landingSectionContent p:nth-child(1) {
    color: #03CEA4;
    text-transform: uppercase;
}

.landingSection img {
    height: auto;
    width: 50%;
}