.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 144px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    padding: 2rem 3rem;
    font-family: Nunito;
    color: #273043;
}

.navLink {
    text-decoration: none;
}

.Logo {
    height: 42px;
    width: 182.5px;
}

.NavItems {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    list-style-type: none;
}

.navLink {
    text-decoration: none;
    text-transform: uppercase;
    color: #273043;
}

.devNav {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
}

.devNav button {
    letter-spacing: 1.25px;
    padding: 0.1rem 0.5rem;
    line-height: 15px;
    background-color: transparent;
    border-color: #273043;
    border-radius: 4px;
}
.hamburger {
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    .Nav {
        height: 60px;
    }


    .Logo {
        height: 36px;
        width: 156px;
        margin-left: -40%;
    }
    .NavItems {
        flex-direction: column;
        display: none;
    }

    .devNav {
        display: none;
    }


    .hamburger {
        display: block;
        margin-right: -20%;
        font-size: 1.5rem;
        line-height: center;
        background-color: #fff;
        border: none;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}
