.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;
}

a {
    color: #273043;
}

.Footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Nunito;
}


.Footer-links {
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 22%;
    justify-content: space-between;
}

.Touch {
    height: 15rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.DevStudio {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.DevStudio img {
    height: auto;
    width: max-content;
}

.DevStudio > span {
    height: auto;
    display: flex;
    margin:0rem 2rem;
    flex-direction: column;
    justify-content: space-between;

}

.DevStudio p{
    margin-top: 11%;
}

.Footer-bottom {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

.Footer-bottom span{
    display: flex;
    width: 22%;
    justify-content: space-between;
    margin: 0.5rem 0rem;
}

.social {
    height: 30px;
    width: 22px;
    color: #273043;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .Footer-top {
        flex-direction: column;
        text-align: center;
    }

    .Footer-links {
        width: 100%;
        align-items: center;
    }

    .Touch {
        width: 100%;
        align-items: center;
    }

    .DevStudio {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .DevStudio span {
        height: 10rem;
        margin-bottom: 1.8rem;
    }
    .Footer-bottom span {
        width: 100%;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .Footer-bottom {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}

