p {
    line-height: 1.8rem;
}

.brochure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40vh;
    padding: 0rem 3rem;
    background-color: #EAC435;
}

h3 {
    font-size: 2.5rem;
    color: #273043;
}

.brochure-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.brochure-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.brochure h4 {
    font-size: 2.125rem;
}

.brochure-right h4 {
    text-decoration: underline;
    
}

.isLearnable-top {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6rem;
    position: relative;
}

.isLearnable-top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;
    height: 100%;
}

.isLearnable-top-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 38%;
}

.isLearnable-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.isLearnable-images img:first-child {
    margin-left: 4%;
    margin-top: 8%;
}

.isLearnable-images img:last-child {
    width: 90%;
    height: auto;
}


.count-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15em;
    margin: 0rem 8rem;
}

.great {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 4rem;
}

.great-content {
    width: 60%;
    height: auto;
}

.great-content h3 {
    margin-bottom: 5%;
}

.great-content p {
    width: 30rem;
}

.great img{
    background-color: #03CEA4;
    border-radius: 50%;
    width: 35%;
    height: auto;
}


.unusual {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 4rem;
}

.unusual-content {
    width: 40%;
    height: auto;
    width: 30rem;
}

.unusual img {
    width: 45%;
    height: auto;
}

.unusual-content h3 {
    margin-bottom: 5%;
}

.card-layout {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    margin: 2rem;
}



.Eligible {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
}

.eligible-content {
    width: 40%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Eligible img {
    width: 47%;
    height: auto;
    
}

.culture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    background-color: #F5772F;
}

.culture img {
    width: 47%;
    height: auto;
}

.culture-content {
    width: 40%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.culture-content h3, .culture-content p {
    color: #EEEEEE;
}

.experts-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    margin: 0rem 4rem;
}

.expert-content {
    width: 50%;
    height: 20rem;
    padding: 0rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.expert-content h2 {
    font-size: 3.75rem;
    color: #273043;
}


.fun {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.fun-content {
    display: flex;
    flex-direction: column;
    height: 28rem;
    justify-content: space-around;
    margin-right: 10%;
}

.learnable-fun {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
}
.fun-left {
    display: flex;
    flex-direction: column;
    height: 20rem;
    justify-content: space-around;
    margin-right: 10%;
}

.learn-apply {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0rem;
    background-color: #17255A;
}

.learn-apply img {
    width: 45%;
    height: auto;
}

.learn-apply-content {
    width: 40%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.learn-apply-content h3, .learn-apply-content p{
   color: #EEEEEE; 
}

.learn-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    /* margin: 0rem 15rem; */
    justify-content: space-evenly;
}

.learn-faq h2{
    margin-top: 5%;
    margin-left: 19.6rem;
    font-size: 2.5rem;
    align-self: flex-start;
}

.learn-faq ul {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #17255A;
    font-family: Roboto;
    font-size: 1.25rem;
    list-style-type: none;
}

.learn-faq hr{
    margin-top: 8%;
}

.learn-faq .link {
    align-self: center;
    font-family: Nunito;
}

.learn-journal {
    padding: 4rem;
    background-color: #EEEEEE;
}

.learn-journal h2 {
    font-size: 2.5rem;
}

.learn-journal-header {
    height: 10rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.journal-feature {
    background-color: #EEEEEE;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {
    
}




